<div class="row">
<div class="span3">

<ul>
  <% @page.children.each do |child| %>
      <li><%= link_to child.title, child.url %></li>
  <% end %>
</ul>

  <% Refinery::Blog::Post.all.each do |post|  %>
      <h6 style="color:#0088CC"><%= raw post.title %></h6>
    <% end %>

<%#= raw @page.content_for(:side_body) %>

</div>


  <div id="innerpagemargin" class="span8 dotted">

     <% Refinery::Blog::Post.all.each do |post|  %>
      <h2 style="color:#0088CC"><%= raw post.title %></h2>
      <%= raw post.body %>
     <% end %>

 </div>


</div>
<hr>