<div class="row">
<div class="span3">

<ul>
  <% @page.children.each do |child| %>
      <li><%= link_to child.title, child.url %></li>
  <% end %>
</ul>

<%= @page.content_for(:side_body).html_safe %></div>
<div id="innerpagemargin" class="span8 dotted">
<%= @page.content_for(:body).html_safe %>
</div>
</div>
<hr>