<nav id="recent_news_items">
  <h2><%= t('.recent_posts') %></h2>

    <% @items.each do |item| %>
      <p>
        <%= link_to item.title, refinery.news_item_path(item) %>
        <%= truncate  item.body, :length => 150,
                       :omission => " ... #{link_to t('.read_more'), refinery.news_item_path(item), class: 'btn btn-mini'}",
                       :preserve_html_tags => true %>
                       
      <hr>
      </p>                 

    <% end %>
</nav>