.content .span4 {
    margin-left: 0;
    padding-left: 18px;

}

.dotted {
    border-left: 2px dotted #bbd5e5;	
	
}
.content .span4:first-child {
    margin-left: 0;
    padding-left: 19px;
	border: 0;
}



/*  News Engine  */

#recent_news_items{
	
	padding: 0 19px 0 0;
}

#recent_news_items p:after{
	
	padding: 10px 19px 0 0;
}



.alignright{
	text-align:right;
}

/* Green Bullet */

ul {
	list-style-image:url(bullet_green.png);
	color: #08C;
}

ul li a {
	text-decoration: none;
	
	
}

#footer {
	background: #0470b5;
	margin:0;		
}