<hr>
<div id="footer">
    <div class="row">
      <div class="span3">
        <ul>
         <li> Social Media</li>
        <li>By posting on any site below, you are bound by the Social Media Policy.</li>
        <li> Facebook</li>
        <li> YouTube</li>
        <li>Twitter</li>
        <li>LinkedIn</li>
        <li>Pinterest</li>
        <li>Google+</li>
    </ul>
      </div>
      <div class="span3">
        <ul>
            <li>Home</li>
            <li>Plantas de piso</li>
            <li>Sobre Centro M&eacute;dico Bournigal</li>
            <li>Alcance en la comunidad</li>
            <li>Carrrera en Centro M&eacute;dico Bournigal</li>
        </ul>

      </div>
      <div class="span3">
        <ul>
            <li>Red Grupo Rescue</li>
            <li>Centro M&eacute;dico Punta Cana</li>
            <li>Clinica Canela</li>
            <li>Corazones Unidos</li>
            <li>Centro M&eacute;dico Saman&aacute;</li>
            <li>Uni&oacute;n M&eacute;dica Norte</li>
            <li>Centro M&eacute;dico Galmedical</li>
        </ul>
      </div>
      <div class="span3">
       <ul>
            <li>Informaci&oacute;n del sitio web</li>
            <li>Env&iacute;anos tus comentarios</li>
            <li>Derechos de autor y licencias</li>
            <li>Mapa del sitio</li>
            <li>Sobre este sitio web</li>
            <li>Terminos de uso del sitio web</li>
            <li>Pol&iacute;tica de privacidad</li>
     </ul>
      </div>
    </div>
  <p><%#= t('.copyright', :year => Time.now.year,
                        :site_name => Refinery::Core.site_name) %></p>

</div>

