
    <header id="header">

      <div class="row">

         <div  class="span6">
            <%= link_to image_tag('logo_cmbo.png'), refinery.root_path %>

         </div>
        <br>

        <% if !@page.content_for(:header).blank? %>
           <%= raw @page.content_for(:header) %>
          <% else %>
              <div class="span6">
                <div class="row">
                      <span style="color:#0088CC; font-weight: bold; font-size: 10px;text-decoration: underline; float: right;" >Carrera en Centro Medico Bournigal | Directorio telefonico </span>
                 </div>
                 <br>
               <div class="row">
                     <span style="color:#0088CC; font-weight: bold; font-size: 15px; float: right;">1.809.4.RESCUE | 24 HOURS MEDICAL ASSISTANCE</span>
                 </div>
             </div>

        <% end %>

     </div>

        <%= render(:partial => "/refinery/menu", :locals => {
                 :dom_id => 'menu',
                 :css => 'menu'
          }) %>
    </header>

